<!DOCTYPE html>
<html>
  <head>
    <title>My First Web App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/get_username">Start Over</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%>
      </div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><%=@success%>
      </div>
    <% end %>
    <%if @neutral %>
      <div class="alert alert-warning"><%=@neutral%>
      </div>
    <% end %>
    <div class="button">
      <%if @display_play_again_buttons %>
        <h3>Would you like to play again?</h3>
          <div class='seg'>
            <form id='yes_button' action='/game/play_again' method='post'>
               <input type='submit' value='Yes' class='btn btn-success'>
            </form>
            <form id='no_button' action='/game/leave' method='post'>
              <input type='submit' value='No' class='btn btn-danger'>
           </form>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
