body {
	background-image: url("/images/Felt-Green.jpg"); 
}

.title {
	text-align: center;
}

.well {
	border: transparent;
	float: left;
	width: 100%;
	text-align: center;
	padding: 0 0 15px 0;
}

form#hit_button {
	float: left;
	margin-right: 10px;
}

form#stay_button {
	float: left;
	margin-right: 10px;
}

img.card_resize {
	width: 100px;
	height: auto;
	margin: 0 5px 5px 0;
}

.seg {
	display: inline-block;
}

.button {
	text-align: center;
}

h1 {
	margin-bottom: 20px;
}

h1, h2, h3 {
	font-family: 'Droid Serif', serif;
	color: #34282C;
}

p, h4, h5, li a {
	font-family: 'Fjalla One', sans-serif;
	color: #3D2A26;
}

a {
	color: #3333FF;
}

h2, h3 {
	font-size: 30px;
}

h5 {
	font-size: 18px;
}

p {
	font-size: 16px;
}